.beachCocktail {
  width: 100%; /* Make it responsive */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

  height: 500px;
  object-fit: cover;
  object-position: middle;
}

.text-over {
  position: absolute;
  top: 32%;
  left: 150px;
}
